.title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    background-color: #e70012;
    color: white;
    margin-bottom: 50px;
    padding: 40px;
}

.brand {
    font-family: "SuperMario";
}

@font-face {
    font-family: "SuperMario";
    src: url(./SuperMario.ttf);
    font-weight: normal;
    font-style: normal;
}


