.img-box {
    border: 0.5px solid black;
    
}

.img-box:hover {
    position: relative;
    bottom: -2;
    background: url('/select-background.jpg');
    background-color: rgba(255, 0, 0, 0.8);
    box-shadow: 1px 1px 2px black, 1px 1px 25px yellow, 0 0 5px yellow;
}